{% extends "base.html" %}

{% block body_contents %}
<div class="user_details">
<table class="login">
	<tr>
		<td>
			<h1>Welcome to SafeBook!</h1>
			{{message}}
			<div class="container">
				<form action="/forgot_password" method="post">
			    <label><b>Username</b></label>
			    <input class="login" type="text" placeholder="Enter Username" name="username" required>	
			    <button type="submit" value="Login" style="float:left;width: 100%;display: block;">Submit</button>
			    </form>
		    </div>
	  </td>
	</tr>
</table>
</div>
{% endblock %}
