<html>
  <head>
    <meta content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores!</title>
    <link href="/static/index.css?v={{t}}" media="all" rel="stylesheet" type="text/css">
  	<link href="/static/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="heading">
      <h1> Welcome to the scorepage! </h1>
    </div>
    <br>
    <div class="search-bar">
      <form class="form-inline my-2 my-lg-0" method="POST">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Points</th>
          <th scope="col">Rank</th>
        </tr>
      </thead>
      <tbody>
        {% for s in scores %}
        <tr class="table-light">
          <td>{{s[0]}}</td>
          <td>{{s[1]}}</td>
          <td>{{s[2]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
