{% extends "base.html" %}

{% block body_contents %}
<div class="user_details">
<table class="login">
	<tr>
		<td>
			<h1>Welcome to Safebook!</h1>
			{{message}}
			<div class="container">
				<form action={{url}} method="post">
			    <label><b>New Password</b></label>
			    <input class="login" type="password" placeholder="Enter a new Password" name="password" required>
			    <button type="submit" style="float:left;width: 100%;display: block;">Submit</button>
			    </form>
		    </div>
	  </td>
	</tr>
</table>
</div>
{% endblock %}
