<html>
    <head>
        <title>gimme</title>
    </head>
    <body>
        <h1>Gimme! Gimme! Gimme! (A Flag After Midnight)</h1>
        <h2><a href="https://www.youtube.com/watch?v=XEjLoHdbVeE">Help Agnetha get that flag and chase the shadows away 🎶</a></h2>
        <form method="post" id="form">
            <p><input type="text" name="input" value="{{ string }}" size="80" autofocus/><button type="submit" form="form">ask</button></p>
        </form>
        <p><strong>{{ reply }}</strong></p>
        <h5><a href="http://www.unswsecurity.com/">UNSW Security Society</a> | <a href="https://ctf.unswsecurity.com/">O-Week CTF</a></h5>
    </body>
</html>
